@font-face {
    font-family: 'Recoleta';
    src: url('/graphics/fonts/Recoleta-RegularDEMO.woff2') format('woff2'),
        url('/graphics/fonts/Recoleta-RegularDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
    background-color: #f3f8f2;
}
.Logo
{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    justify-items: center;
    align-items: center;
    padding: 24px;
    color:white;
    font-size: 32px;
    text-align: center;
    background: #00723B;
    font-family: 'Recoleta', sans-serif;
}
.navbar {
  background-color: #f3f8f2;
  padding: 1rem 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #00723B;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 0.3s;
}
.navbar a.active,
.navbar a:hover {
  background-color: #d5f0d1;
  color:#00723B;
}
    .tagline {
        margin-top: 1px;
      font-size: 14px;
      letter-spacing: 2px;
      color: #555;
    }

    /* Visit Us Section */
    .visit-section {
      display: flex;
      flex-wrap: wrap;
      background-color: #00723B;
      color: #fff;
      padding: 50px 0;
      justify-content: center;
      align-items: center;
    }

    .visit-text {
      flex: 1 1 400px;
      text-align: center;
      padding: 20px;
    }

    .visit-text h1 {
      margin-top: 1px;
      font-size: 70px;
      margin-bottom: 10px;
      font-family: 'Recoleta', sans-serif;
    }

    .visit-text p {
      font-size: 25px;
      margin-bottom: 50px;
    }

    .google-btn {
      background-color: #00a957;
      padding: 15px 25px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      color: white;
      cursor: pointer;
      text-decoration: none;
      transition: 0.3s;
    }

    .google-btn:hover {
      background-color: #005d30;
    }

    .visit-images {
      flex: 1 1 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
    }

    .visit-images img {
      width: 250px;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      .visit-section {
        flex-direction: column;
      }
      .visit-images {
        margin-top: 20px;
      }
    }

footer 
{
  background-color: #f3f8f2;
  color: #333;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}